._724994c5 .menu {
        min-height: 0;
        max-height: 0;
        transition: max-height 0.4s;
    }

    ._724994c5 .menu--open {
        max-height: 25rem;
    }
._724994c5 .menu {
        min-height: 0;
        max-height: 0;
        transition: max-height 0.4s;
    }

    ._724994c5 .menu--open {
        max-height: 25rem;
    }
._952d3baf .vh50 {
        height: 50vh
    }

    ._952d3baf .vh100 {
        height: 100vh
    }
